

nav.navbar {
  min-height: 80px;
  background: #000;                  
  padding: .8rem 1rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, .35);
  transition: all .3s ease;
.container-fluid{
margin: 0 !important;

  
  .navbar-brand {
    color: #fff;
    font: 900 22px "Inter", sans-serif;
    letter-spacing: .5px;
    position: relative;
     display: inline-block;

           @media screen and (max-width:767px) and (min-width:320px){
   font-size: 20px;
  }

     @media (max-width: 992px) {
        padding: 8px 4px !important;
      }

    &::before {               
      content: "";
      position: absolute;
      bottom: -2px; left: 0;
      height: 3px; width: 0;
      background: #ffbd39;
     
      transition: width .8s;

      
    }
    &:hover::before { 
        
        width: 100%;

    }


  }


  .navbar-toggler {
    background: #fff !important;                
    border: none; padding: .25rem .5rem;

     @media screen and (max-width:575px) and (min-width:320px){
 min-height: 30px !important;
 min-width: 30px !important;
 padding: 2px !important; 
  border-radius: 3px !important;
  }

    &:focus { box-shadow: none; }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23000' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    @media screen and (max-width:575px) and (min-width:320px){
 height: 20px !important;
 width: 20px !important;
 padding: 13px !important; 

  }
    }
  }

 
  .navbar-nav {
    .nav-link {
      color: #fff !important;
      font: 500 16px "Inter", sans-serif;
      padding: .6rem .4rem;
      position: relative;
      transition: color .8s ease-in-out;
      display: inline-block !important;
      
       @media (max-width: 1200px) and (min-width:768px) {
       font-size: 14px !important;
      }


      @media (max-width: 992px) {
        padding: 4px !important;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 2px; left: 0px;
        height: 3px; width: 0;
        background: #ffbd39;;
        transition: width .8s ease-in-out;

        @media (max-width: 991px) {
            display: none !important;
      }
    }
      &:hover,
      &.active {
        &::before { width: 100%; }
      }
    }
  }
}
}


@media (max-width: 991.98px) {
  nav.navbar {
    .navbar-nav {
      gap: .4rem !important;
      .nav-link { padding: .9rem 0; }
    }
  }
}



// _______________________________Header Section ________________________________________




.header-main{
  min-height: 70vh;
  width: 100%;
background-color: #000;

 @media (max-width: 767px) and (min-width:320px) {
      min-height: 50vh;
      }

@media screen and (max-width:991px) and (min-width:768px){
   min-height: 60vh !important;
  }


// col-1;
.text-main{
display: flex;
margin-left: 100px;

flex-direction: column;
justify-content: end;

 @media (max-width: 767px) and (min-width:320px) {
      margin-left: 20px;
      }


#hello{
  font-size: 22px;
  font-weight: 600;
   font-family: "Poppins";
  color: 
#ffbd39;
line-height: 14px;

@media (max-width: 575px) and (min-width:320px) {
      font-size: 18px;
      margin-bottom: 10px !important;
      }
}
.h1-head{
  font-size: 60px;
  font-weight: 800;
  font-family: "Poppins";
  color: #Ffffff;
  line-height: 72px;

  @media (max-width: 767px) and (min-width:320px) {
      font-size: 30px;
      line-height: 30px;
      }

  @media screen and (max-width:991px) and (min-width:768px){
    font-size: 40px;
    line-height: 40px;
  }
}
.span-p{
   font-size: 60px;
  font-weight: 800;
  font-family: "Poppins" !important;
  color:  #ffbd39;
line-height: 72px;

 @media (max-width: 767px) and (min-width:320px) {
      font-size: 30px;
      line-height: 30px;
      }

@media screen and (max-width:991px) and (min-width:768px){
    font-size: 36px !important;
    line-height: 40px;
  }
}
.slider{
  font-size: 60px;
  font-weight: 800;
  font-family: "Poppins" !important;
  color: 
#ffbd39;;
  line-height: 72px;
   @media (max-width: 767px) and (min-width:320px) {
      font-size: 30px;
      line-height: 30px;
      }

  @media screen and (max-width:991px) and (min-width:768px){
    font-size: 40px;
    line-height: 48px;
  }
}
}
.btn-mains{
display: flex;
margin-left: 100px;
gap: 16px;
margin-top: 20px !important;

@media (max-width: 767px) and (min-width:320px) {
      margin-left: 20px;
      }

.cv-btn{
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
        color: rgb(0, 0, 0) !important;
    background: rgb(255, 189, 57);
    border-width: 1px !important;
    border-style: solid !important;
    height: 60px;
    width: 140px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 24px 36px -11px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 40px;
    transition: all 0.3s ease-in;

    @media (max-width: 767px) and (min-width:320px) {
      height: 40px;
      width: 120px;
      letter-spacing: 0px;
      }

    &:hover{
      color: white !important;
      background-color: #000;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }

}
.work-btn{
      border-color: rgba(255, 255, 255, 0.5) !important;
      color: white !important;
      background-color: transparent !important;
     
       &:hover{
      color: black !important;
      background-color: rgb(255, 189, 57) !important;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
}

}

// col-2'__________
.img-main{

  display: flex;
  align-items: center;
.header{
  height: auto;
  width: 80%;
  margin: auto;
  object-fit: cover;
  margin-top: 10%;

  @media (max-width: 767px) and (min-width:320px) {
      margin-bottom: 10px;
      }
}
}


}