@use './Assets/Navbar';
@import './Assets/Global.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    overflow-x: hidden !important;
    background-color: black;
}